# Database - Neon PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="generera-med-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Resend
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RESEND_FROM_EMAIL="noreply@powerbike.nu"
